<% unless logged_in? %>
  <div class="top-headline-box">
    <h1>Welcome!</h1>
    <%= link_to "Sign up", signup_path, class: "accent-button" %>
  </div>
<% else %>
  <ul class="timeline-nav">
    <li><%= link_to "users", '/changetab?tab=users', remote: true %></li>
    <li><%= link_to "tags", '/changetab?tab=tags', remote: true %></li>
  </ul>

  <div id="timeline"></div>
<% end %>
