<div class="row">
  <div class="top-headline-box col-md-12 col-md-offset-3">
    <div class="top-headline-content">
      <h1>Welcome to ASK</h1>
      <% unless logged_in? %>
        <div class="btn">
          <%= link_to "Register", login_path, class: "btn btn-outline-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
