<% unless logged_in? %>
  <div class="top-headline-box">
    <h1>Welcome!</h1>
    <%= link_to "Sign up", signup_path, class: "accent-button" %>
  </div>
<% else %>
  <ul class="timeline-nav">
    <li><%= link_to "users", '/change_tab?tab=users', remote: true, id: "user", class: "active-tab" %></li>
    <li><%= link_to "tags", '/change_tab?tab=tags', remote: true, id: "tag", class: "non-active-tab" %></li>
  </ul>

  <div id="timeline">
    <%= render "following_users" %>
  </div>
<% end %>

<script>
  $(".timeline-nav li a").on("click", function() {
    var id = $(this).attr("id")
    var other_id;
    switch (id) {
      case "user":
        other_id = "#tag";
        break;
      case "tag":
        other_id = "#user";
    }
    console.log(id);

    if($(this).hasClass("non-active-tab")) {
      $(this).addClass("active-tab");
      $(this).removeClass("non-active-tab");
      $(other_id).addClass("non-active-tab")
      $(other_id).removeClass("active-tab")
    }
  })
</script>
