<h1><%= @user.screen_name %></h1>
<% @items.each do |item| %>
  <%= link_to item.title, "#{@user.id}/#{item.id}" %>
  <br>
<% end %>
<%= will_paginate @items, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
